
<div class"row">
  <div class="col-md-12">
    
    <%= image_tag("http://www.keepcalmandtravel.com/wp-content/uploads/2013/08/travel-industry.jpg") %>

<div class="col-md-4 well aside">
    <h3><ul>Ready for your vacation?</ul> 
    <ul>Excited about your travel plans?</ul> 
    <ul>Make your trip even better inviting your friends to give you recommendations before you go!</ul></h3>  </div>

  </div>
